[submodule "frontend"]
	path = frontend
	url = https://github.com/yonathanavila/front-onchain-events
[submodule "contracts"]
	path = contracts
	url = https://github.com/yonathanavila/contract-onchain-events
